.MapSection {
    display: none;
}


/*  Section Port De Garage Styles */

.section#Port-de-garage {
    background: #f2f2f2;
}

.Fix-UnderHeader-Space {
    margin-bottom: 18rem;
    top: 0;
    position: relative;
}

.section .Intro {
    gap: 10px;
    display: block;
    align-items: center;
    margin-right: auto;
    width: 90%;
    margin-left: auto;
    padding: 50px 10px;
    background: content-box;
}

.section#Port-de-garage .Intro .InfoText {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.section#Port-de-garage .Intro .InfoText h1 {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}

.section .Intro p {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: none;
    margin: 0 0 20px 0;
    width: 100%;
    -webkit-text-stroke: 0.4px black;
    text-align: center;
}

.section#Port-de-garage .Intro .InfoText h2 {
    position: initial;
    letter-spacing: 2.5px;
    font-weight: 200;
    font-size: 2.5rem;
    margin: 15px 0 15px 0;
    -webkit-text-stroke: 0.4px black;
    width: 100%;
    text-align: center;
}

.section#Port-de-garage .Intro #introCategContent {
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: All .6s;
}

.section#Port-de-garage .Intro #introCategContent.show {
    height: fit-content;
    transition: All .6s;
}

.section#Port-de-garage .Intro #introCategContent h3 {
    font-size: 30px;
    font-weight: 200;
    text-transform: initial;
    text-align: center;
    -webkit-text-stroke: 0.4px black;
}

.section#Port-de-garage .Intro #introCategContent.show p {
    font-size: 17px;
    margin-bottom: 30px;
    transition: all .7s;
    text-align: center;
    font-weight: 200;
    -webkit-text-stroke: 0.5px black;
}

.section#Port-de-garage .Intro #introCategContent ul {
    padding: 10px;
}

.section#Port-de-garage .Intro #introCategContent p,
.section#Port-de-garage .Intro #introCategContent ul li {
    font-size: 20px;
    transition: all .7s;
    text-align: start;
}

.section#Port-de-garage .Intro .InfoText a {
    font-size: 17px;
    padding: 10px;
    color: #0c64ac;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
}

.section#Port-de-garage .Intro .InfoText a#BtnToggleIntroText i {
    padding: 0 6px;
}

.section#Port-de-garage .Intro .InfoText button:hover {
    color: #fff;
    background: #0c64ac;
}

.section#Port-de-garage .Intro .InfoText button {
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    background: #cfd3d5;
    padding: 10px 55px;
    gap: 10px;
    border-radius: 3px;
    align-content: center;
}


/*  Section NosGaragesList Styles */

.section .SelectedProduitsList {
    padding: 20px;
    margin: 0 35px;
}

.section .SelectedProduitsList ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.section .SelectedProduitsList ul img.img-responsive.svg {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

.section .SelectedProduitsList ul li a span {
    text-transform: uppercase;
}

.section .SelectedProduitsList ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;
    transition: all .2s;
}

.section .SelectedProduitsList ul li:hover a {
    color: #1976d2;
    transition: all .2s;
}

.section#NosProductsList {
    padding: 35px 0 60px 0;
}

.ProductList {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section#NosProductsList .card a.img-container {
    text-decoration: none;
    height: fit-content;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.ProductList img.card-img-top {
    width: 100%;
    object-fit: cover;
    height: 250px;
    transition: All .7s;
}

.section#NosProductsList .card:hover img {
    transform: scale(1.2);
    background-position: center;
    transition: All .7s;
}

.section#NosProductsList .card {
    display: flex;
    transition: all .4s;
    cursor: pointer;
}

.section#NosProductsList .card:hover {
    box-shadow: 12px 8px 8px 0px rgb(0 0 0 / 20%);
    transition: all .4s;
}

.ProductList .card-title {
    margin-bottom: 3.5rem;
    margin-top: 1rem;
    font-size: 20px;
    -webkit-text-stroke: 0.4px black;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
}

.ProductList .notation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ProductList .notation div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProductList .notation div p {
    font-size: 14px;
    margin-bottom: 5px;
}

.ProductList .notation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 10px;
}

.ProductList .notation ul li i {
    font-size: 15px;
    color: #999898;
}

.ProductList .notation ul li.On i {
    color: #dc3545;
}

.section#NosProductsList .card .cardInfoHover {
    width: 100%;
    height: 100%;
    left: -1000px;
    z-index: 1000;
    display: flex;
    position: absolute;
    background: rgb(0 0 0 / 56%);
    backdrop-filter: blur(2px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.section#NosProductsList .card:hover .cardInfoHover {
    left: 0;
    transition: .5s;
}

.section#NosProductsList .card .cardInfoHover a:hover {
    background: #dc3545;
    color: #fff;
}

.section#NosProductsList .card .cardInfoHover a {
    text-align: center;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    background: #e7e7e7;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 30px;
}

.section#NosProductsList .card .cardInfoHover p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 16px;
}

nav {
    padding: 10px;
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 50px;
    align-items: center;
}

.breadcrumb {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0 0;
    margin: 0;
    list-style: none;
    align-items: center;
    align-content: center;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    gap: 3px;
}

nav .breadcrumb li a {
    font-size: 17px;
    text-transform: capitalize;
    color: #000;
    letter-spacing: 2px;
    font-weight: 300;
}

.breadcrumb-item.active {
    font-size: 17px;
    text-transform: capitalize;
    color: #000;
    letter-spacing: 2px;
    font-weight: 300;
}

nav .breadcrumb li.breadcrumb-item.active a {
    text-decoration: underline;
}

nav .breadcrumb li.breadcrumb-item a {
    text-decoration: none;
}

nav .breadcrumb li.breadcrumb-item a:hover {
    text-decoration: underline;
}

.section#NosProductsList {
    padding-top: 40px;
    background: #e5e5e5;
}

.section-inner.NosProductsShowList {
    margin: 0 35px;
}

.section .NosProductsShowList .productFilter {
    padding: 15px;
    padding-bottom: 35px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    -webkit-box-shadow: 2px 2px 35px -3px rgb(0 0 0 / 24%);
    box-shadow: 2px 2px 16px -3px rgb(0 0 0 / 24%);
}

.section .NosProductsShowList .productFilter h1 {
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.section .NosProductsShowList .productFilter ul {
    padding: 0;
    margin: 0;
    gap: 5px;
}

.section .NosProductsShowList .productFilter ul li {
    width: 100%;
    border-radius: 2px;
    background: #e7e7e7;
}

.productFilter button {
    border: none;
    background: none;
    letter-spacing: 2px;
    padding: 13px 10px;
    color: #1976d2;
    font-size: 17px;
    display: flex;
    text-align: start;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.productFilter button i {
    font-size: 30px;
}

.productFilter button.IsClicked i.fa-plus-square:before,
.productFilter button.IsClicked i.fa-square-plus:before {
    content: "\f146";
}

div#collapse-1 {
    margin: 10px;
}

.productFilter .form-check {
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 6px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.productFilter .collapse .form-check label {
    font-size: 18px;
    padding-left: 10px;
    cursor: pointer;
}

.section .productFilter .form-check input {
    width: 20px;
    height: 20px;
}

.form-check-input[type=checkbox] {
    border-radius: 0.25em;
    cursor: pointer;
}

.form-check-input[type=checkbox]:checked {
    border: 3px solid #0080ff;
}

.section#NosProductsList .card {
    width: 26rem;
    overflow: hidden;
}

.section#NosProductsList .DomotiqueCards .card {
    width: 35rem;
}