    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;900&family=Share+Tech&display=swap');
     :root {
        --Red-Color-hover: #f0545f;
        --Blue-Color-hover-button: #155f9f;
        --Dark-Blue: rgb(16, 121, 190);
    }
    
    * {
        font-family: 'Exo 2', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .2s linear;
    }
    
    html {
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-padding-top: 7rem;
    }
    
    body {
        background: #eee;
    }
    
    a {
        text-transform: uppercase;
    }
    
    h2 {
        position: absolute;
        top: 60%;
        left: 47%;
        text-transform: uppercase;
        font-size: 20px;
        color: rgb(42, 42, 42);
        font-weight: 300;
    }
    
    .Screen_Loader {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        opacity: 1;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(25px);
    }
    
    .container {
        position: absolute;
        height: 100px;
        width: 100px;
        top: 35%;
        left: 50%;
        color: #fff;
    }
    
    .large {
        color: #fff;
        position: absolute;
        top: 101%;
        left: 72%;
        animation: rotate-right 4s linear infinite;
    }
    
    .medium {
        position: absolute;
        top: 64%;
        left: 50%;
        animation: rotate-left 4s linear infinite;
    }
    
    .small {
        position: absolute;
        top: 81%;
        left: 15%;
        animation: rotate-right 4s linear infinite;
    }
    /* All values of top and left values are experimental
  you may change those values to see different results. */
    
    @keyframes rotate-right {
        from {
            transform: rotateZ(0);
        }
        to {
            transform: rotateZ(360deg);
        }
    }
    
    @keyframes rotate-left {
        from {
            transform: rotateZ(0);
        }
        to {
            transform: rotateZ(-360deg);
        }
    }
    
    .section .NosProduit p {
        padding: 15px 30px;
        font-size: 20px;
        font-weight: 400;
        text-transform: none;
        text-align: center;
        letter-spacing: 1.5px;
    }
    
    .heading {
        text-align: center;
        padding: 2rem 0;
        padding-bottom: 3rem;
        font-size: 3.5rem;
        color: var(--black);
    }
    
    .heading span {
        background: var(--Blue);
        color: #fff;
        display: inline-block;
        padding: .5rem 3rem;
        clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    }
    
    .Custom-btn {
        display: inline-block;
        padding: 8px 12px;
        height: 40px;
        width: 50px;
        font-size: 1.7rem;
        background: rgb(255 253 253 / 69%);
        color: #000;
        cursor: pointer;
        border-radius: 0 50% 50% 0;
        border-right: 1px solid #000;
        border-left: none;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    
    .Custom-btn:hover {
        background: rgba(0, 98, 255, 0.8);
        color: rgba(255, 255, 255, 0.8);
        border-color: rgba(0, 98, 255, 0.8);
    }
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        backdrop-filter: blur(6px);
        background: rgb(233 233 233 / 70%);
        flex-direction: column;
        opacity: 1;
        padding: 5px 2rem;
    }
    
    .header .headerTop {
        width: 100%;
        display: flex;
        height: 30px;
        background: #ffffffe8;
    }
    
    .header .headerLogo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        padding: 0 15px 0 15px;
    }
    
    .header .headerLogoMobile {
        display: none;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        align-content: center;
    }
    
    .header.scrolling-active .headerLogoMobile button.btn.btn-Settings,
    .header .headerLogoMobile button.btn.btn-Settings {
        width: 40px;
        height: 40px;
        color: #26375d;
        background: none;
        border: none;
        font-size: 25px;
        text-align: center;
        border-radius: 5px;
        opacity: 1;
        padding: 0;
        transition: all .7s;
    }
    
    .header .headerList {
        width: 100%;
        height: fit-content;
    }
    
    .header .headerList ul.searchMenu li.expandserchbar {
        display: flex;
        align-items: center;
    }
    
    .SVG_Icons:before {
        display: inline-block;
        vertical-align: top;
        content: '';
        width: 250px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .9;
        background-size: 100%;
        transition: all 0.5s ease;
    }
    
    #Light_Logo:before {
        background-image: url("./Assets/logo.svg");
    }
    
    .header .logo {
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--Red);
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .header .headerList ul li a {
        font-size: 1.7rem;
        height: 100%;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 600;
        color: #2a2a2a;
        transition: all .7s;
        text-decoration: none;
    }
    
    .header .headerList ul.MainMenu li button {
        font-size: 1.7rem;
        height: 45px;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 600;
        border: none;
        background: none;
        text-transform: uppercase;
        color: #2a2a2a;
        transition: all .2s;
        text-decoration: none;
    }
    
    .header .headerList ul.MainMenu li button.dropdown-toggle:hover {
        color: #ef545f;
        transition: all .2s;
    }
    
    .header .headerList ul li button i {
        padding: 0 5px;
    }
    
    .HeaderTaps-Inner {
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        border-radius: 5px;
        margin: 0;
        transition: all .7s;
        box-shadow: 0 4px 19px rgb(0 0 0 / 50%);
    }
    
    .HeaderTaps.VotreProjet .HeaderTaps-Inner {
        height: 330px;
    }
    
    .header .headerList ul li a.BtnSearch {
        height: 40px;
        border-radius: 50% 0 0 50%;
        border-left: 1px solid #000;
        border-right: none;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background: rgb(255 253 253 / 69%);
        z-index: 10;
    }
    
    .header .headerList ul li a.btn-DarkMod {
        height: 40px;
        border-radius: 50%;
        background: rgb(255 253 253 / 69%);
        z-index: 10;
    }
    
    .header .headerList ul {
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: flex-end;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps {
        border-radius: 5px;
        height: fit-content;
        width: fit-content;
        opacity: 1;
        transition: all .7s;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps.dropdown-menu.show {
        display: flex;
        width: 100%;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps.dropdown-menu {
        position: absolute;
        z-index: 1000;
        display: none;
        min-width: 10rem;
        padding: 18.5rem 17.5rem;
        margin: 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        border: none;
        list-style: none;
        background: none;
        background-clip: padding-box;
        transition: all .5s;
    }
    
    .header.scrolling-active .headerList ul.MainMenu .HeaderTaps.dropdown-menu {
        padding: 11.5rem 12.5rem;
        transition: all .5s;
    }
    
    .closeBtnSection {
        width: 100%;
        background: rgb(211, 210, 210);
        display: flex;
        height: 45px;
        border-radius: 5px 5px 0px 0px;
        flex-direction: row;
        align-items: center;
        place-content: center space-between;
    }
    
    .closeBtnSection h3.CloseBtnSection-Title {
        margin: 0;
        padding-left: 20px;
        color: #707070;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .closeBtnSection button.btn.btn-CloseHeaderTap,
    .closeBtnSection button.btn.btn-CloseVoletsForm {
        width: 40px;
        height: 100%;
        color: #525252;
        background: none;
        border: none;
        font-size: 15px;
        float: right;
        text-align: center;
        border-radius: 0;
        padding: 0;
        transition: all .2s;
    }
    
    .closeBtnSection button.btn.btn-CloseHeaderTap:hover,
    .closeBtnSection button.btn.btn-CloseVoletsForm:hover {
        color: #ebebeb;
        background: #155f9f;
        transition: all .2s;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps .ul {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        list-style: none;
        place-content: center space-around;
        flex-flow: row wrap;
        padding: 0px;
        border-radius: 0px 0px 5px 5px;
        margin: 0px;
        backdrop-filter: blur(6px);
        background: rgba(255, 253, 253, 0.97);
        transition: all 0.7s ease 0s;
        gap: 10px;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps .ul.SubTaps {
        position: absolute;
        display: none;
        opacity: 0;
        transition: all .5s;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps .ul.SubTaps.show {
        position: absolute;
        height: fit-content;
        overflow: hidden;
        width: fit-content;
        top: 30px;
        right: 25px;
        display: flex;
        flex-wrap: wrap;
        opacity: 1;
        flex-direction: column;
        box-shadow: 0 4px 19px rgb(0 0 0 / 50%);
        align-items: center;
        z-index: 100;
    }
    
    .ul.SubTaps .closeBtnSection {
        width: 230px;
        display: flex;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps .ul.smallHeight {
        padding: 25px;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps .ul.smallHeight .BlurEffect {
        backdrop-filter: blur(0px);
        z-index: -1000;
        opacity: 0;
        transition: all .5s;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps .ul.smallHeight .BlurEffect.show {
        width: 100%;
        height: 100%;
        left: 0;
        cursor: not-allowed;
        z-index: 100;
        display: block;
        opacity: 1;
        position: absolute;
        background: #e3e3e30d;
        backdrop-filter: blur(2px);
        transition: all .5s;
    }
    
    .header .headerList ul li button.dropdown-toggle::after {
        display: none;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps ul li a {
        font-size: 1.5rem;
        height: 100%;
        padding: 10px;
        text-align: center;
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 600;
        color: #2a2a2a;
        text-decoration: none;
        align-items: center;
        flex-direction: column;
        transition: all .3s;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps.VotreProjet .HeaderTaps-Inner {
        height: 350px;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps.VotreProjet .ul.smallHeight {
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps ul li a:hover {
        color: #f0545f;
        font-weight: 700;
        transition: all .2s;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps .ul .MenuMore {
        width: 50%;
        display: flex;
        border-left: 4px solid #e3e1e1;
        height: 100%;
        flex-direction: column;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps .ul .MenuConseil {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 20px 0 20px 20px;
    }
    
    .header.scrolling-active .headerList .MenuMore ul,
    .header .headerList .MenuMore ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding: 0;
        justify-content: center;
    }
    
    .header .headerList .MenuMore ul li:nth-child(1) {
        border-bottom: 4px solid #e3e1e1;
    }
    
    .header .headerList .MenuMore ul li {
        height: 100%;
        width: 100%;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps .MenuMore ul li a {
        text-align: start;
        padding-left: 20px;
        display: flex;
        gap: 5px;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }
    
    .MenuConseil .titreMenuConseil {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .NosConseilBtn {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
    }
    
    .header .headerList ul.MainMenu li button.btn.btn-NousConseil:hover {
        background: #155f9f;
        color: #ffff;
        transition: all .2s;
    }
    
    .header .headerList ul.MainMenu li button.btn.btn-NousConseil {
        height: 100%;
        width: fit-content;
        font-size: 18px;
        padding: 10px;
        font-weight: 500;
        text-transform: uppercase;
        background: #d3d2d2;
        border: none;
        transition: all .2s;
    }
    
    .header.scrolling-active .headerList .MenuConseil ul,
    .header .headerList .MenuConseil ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .header .headerList ul.MainMenu .HeaderTaps .MenuConseil ul li a {
        font-size: 14px;
        padding: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }
    
    .header .headerList ul.searchMenu {
        width: fit-content;
        right: 0;
        gap: 5px;
        margin: 0;
        padding: 0;
        transition: all .7s;
    }
    
    .header .headerList .navbarTop {
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: flex-end;
        transition: all .7s;
    }
    
    .header .headerList .navbarBottom {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        transition: all .7s;
        align-items: center;
    }
    
    .header .headerList ul li a i {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 1.5rem;
    }
    
    .header .headerList ul li a:hover {
        transition: all .5s;
        color: #d2283b;
    }
    
    .header .headerList ul li a.BtnSearch i {
        font-size: 1.8rem;
    }
    
    .header .headerList ul.toolsMenu li a {
        font-size: 1.5rem;
    }
    
    .header .headerList ul.toolsMenu li a span {
        text-transform: uppercase;
        display: initial;
        transition: all .7s;
    }
    
    .header .icons div {
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.5rem;
        border-radius: .5rem;
        background: rgba(255, 255, 255, 0.3);
        color: var(--black);
        font-size: 2rem;
        margin-left: .3rem;
        cursor: pointer;
        text-align: center;
    }
    
    .collaps {
        display: initial;
    }
    
    .header .icons div:hover {
        background: var(--Blue);
        color: #fff;
    }
    
    #menu-btn {
        display: none;
    }
    
    .header .search-form {
        width: fit-content;
        height: 55px;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        padding: 0 3px;
        gap: 5px;
        align-items: center;
        transition: .6s linear;
        justify-content: flex-end;
        transition: all .7s;
    }
    
    .header .search-form .formSearch {
        display: flex;
    }
    
    .header .search-form input {
        height: 40px;
        width: 100%;
        text-transform: none;
        font-size: 1.6rem;
        color: #666666;
        padding: 0 1rem;
        background: none;
        border: none;
        border-radius: 0;
        transition: all .7s;
    }
    
    .header .search-form .formSearch .searchInputBox {
        display: flex;
        border-radius: 5px;
        height: fit-content;
        width: 220px;
        background: rgb(255 253 253 / 50%);
        z-index: 1000;
        opacity: 1;
        transition: all .7s;
    }
    
    .header .search-form .formSearch .searchInputBox.IsNotVisible {
        width: 0px;
        opacity: 0;
        z-index: -1;
        transition: all .7s;
    }
    
    button.btn.btn-HideInputBox {
        height: 40px;
        width: 45px;
        text-transform: none;
        font-size: 1.6rem;
        color: #666666;
        border-radius: 0;
        padding: 0 1rem;
        border: none;
        transition: all .7s;
    }
    
    .header .search-form button.btn-search {
        height: 40px;
        width: 45px;
        text-transform: none;
        margin-left: 5px;
        background: rgb(255 253 253 / 69%);
        font-size: 1.6rem;
        color: #666666;
        padding: 0 1rem;
        border-radius: 5px;
        border: none;
        transition: all .7s;
    }
    
    .header .search-form button.btn-search i {
        padding: 0;
    }
    
    .header .headerList ul li button.btn.btn-DarkMod i {
        padding: 0;
    }
    
    .header .headerList ul li button.btn.btn-DarkMod {
        font-size: 1.7rem;
        height: 100%;
        padding: 10px;
        line-height: 0px;
        white-space: nowrap;
        border: none;
        font-weight: 600;
        text-transform: uppercase;
        background: rgb(255 253 253 / 69%);
        color: #2a2a2a;
        transition: all .7s;
        text-decoration: none;
    }
    
    .header .search-form button.btn-search.IsNotActive {
        height: 40px;
        width: 40px;
        text-transform: none;
        background: rgb(255 253 253 / 69%);
        font-size: 1.6rem;
        color: #666666;
        padding: 0 1rem;
        border-radius: 100%;
        border: none;
        transition: all .7s;
    }
    
    .header .search-form button.btn-search:hover {
        background: #d2283b;
        color: #f0f0f0;
    }
    
    .header .headerList ul.searchMenu li.Controll-btns {
        display: flex;
        height: 40px;
        border-radius: 100%;
        width: 40px;
        transition: all .7s;
    }
    
    .header .headerList ul.searchMenu li.Controll-btns.Lang-Btn {
        display: flex;
        align-items: center;
        width: 65px;
    }
    
    .header .headerList ul.searchMenu li a span {
        text-transform: uppercase;
        display: initial;
    }
    
    .searchMenu .checkbox {
        opacity: 0;
        position: absolute;
    }
    
    .searchMenu .Fr-Lang {
        margin-left: 1px;
    }
    
    .searchMenu .label {
        background-color: rgb(255 253 253 / 69%);
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        position: relative;
        gap: 2.5px;
        height: 26px;
        width: 50px;
        transform: scale(1.5);
        align-content: center;
    }
    /* slightly transparent fallback */
    
    .searchMenu .label .ball {
        background-color: #e1dfdf;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        height: 22px;
        width: 22px;
        transform: translateX(0px);
        transition: transform 0.2s linear;
    }
    /* if backdrop support: very transparent and blurred */
    
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        .searchMenu .label .ball {
            background-color: #dbdbdbb8;
            backdrop-filter: blur(1.3px);
            -webkit-backdrop-filter: blur(1.3px);
        }
    }
    
    .searchMenu .checkbox:checked+.label .ball {
        transform: translateX(24px);
    }
    
    li.DevunirUnProSection {
        display: flex;
        flex-direction: row;
        transition: all .7s;
    }
    
    .header.scrolling-active button.btn.btn-InscrirPro {
        width: 40px;
        height: 40px;
        color: #525252;
        background: rgb(255 253 253 / 69%);
        border: none;
        font-size: 15px;
        text-align: center;
        border-radius: 100%;
        opacity: 1;
        padding: 0;
        transition: all .7s;
    }
    
    .header .search-form button.btn-search.btn-two {
        display: none;
    }
    
    .header .search-form button.btn-search.btn-two:hover {
        color: #d2283b;
        border: none;
    }
    
    button:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .Controll-btns button.btn {
        width: 100%;
        color: #525252;
        background: rgb(255 253 253 / 69%);
        border: none;
        font-size: 15px;
        text-align: center;
        border-radius: 100%;
        padding: 0;
    }
    
    .Controll-btns button.btn i {
        width: 100%;
    }
    
    .Controll-btns button.btn:hover {
        background: #2e2e2e;
        color: #f0f0f0;
    }
    
    #LangSelected-Icon:before {
        display: inline-block;
        vertical-align: top;
        content: '';
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .9;
        background-size: 100%;
        transition: all 0.5s ease;
    }
    
    .Fr-Lang:before {
        background-image: url("./Assets/France-flag.png");
    }
    
    .En-Lang:before {
        background-image: url("./Assets/English-flag.png");
    }
    
    .Ar-Lang:before {
        background-image: url("./Assets/Arab-flag.png");
    }
    
    .header .search-form label {
        font-size: 2.2rem;
        padding: 1.5rem;
        color: white;
        height: 100%;
        background: #d2283b;
        width: 50px;
    }
    
    .header .search-form label:hover {
        background: #d2283b;
        cursor: pointer;
    }
    /* Changin the header  CSS While Scrolling */
    
    .header.scrolling-active .headerList .navbarTop {
        width: fit-content;
        display: flex;
        padding: 10px;
        justify-content: flex-end;
        transition: all .7s;
    }
    
    .header.scrolling-active .headerList {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        transition: all .7s;
    }
    
    .header.scrolling-active .headerList .navbarBottom {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        transition: all .7s;
    }
    
    .header.scrolling-active .headerList ul {
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        transition: all .7s;
    }
    
    .header.scrolling-active .search-form .formSearch .searchInputBox {
        position: fixed;
        display: flex;
        border-radius: 5px;
        height: fit-content;
        right: 10px;
        top: 120px;
        width: 252px;
        background: rgb(255 253 253 / 85%);
        z-index: 1000;
        opacity: 1;
        transition: all .7s;
    }
    
    .header.scrolling-active .search-form button.btn-search.btn-two {
        background: none;
        width: 50px;
        display: initial;
        transition: all .7s;
    }
    
    .header.scrolling-active .headerList ul li a.DevunirUnProLink {
        width: 0;
        font-size: 0;
        height: 0;
        opacity: 0;
        transition: all .7s;
    }
    
    .header button.btn.btn-InscrirPro {
        width: 0;
        font-size: 0;
        height: 0;
        opacity: 0;
    }
    
    .header.scrolling-active .search-form button.btn-search {
        height: 40px;
        width: 40px;
        text-transform: none;
        margin-left: 5px;
        background: rgb(255 253 253 / 69%);
        font-size: 1.6rem;
        color: #666666;
        padding: 0 1rem;
        margin: 0;
        border-radius: 5px;
        border: none;
        transition: all .7s;
    }
    
    .header.scrolling-active .search-form button.btn-search.IsNotActive {
        height: 40px;
        width: 40px;
        text-transform: none;
        background: rgb(255 253 253 / 69%);
        font-size: 1.6rem;
        color: #666666;
        padding: 0 1rem;
        border-radius: 100%;
        border: none;
        margin: 0;
        transition: all .7s;
    }
    
    .header.scrolling-active .search-form .formSearch .searchInputBox.IsNotVisible {
        width: 0px;
        opacity: 0;
        z-index: -1;
        transition: all .7s;
    }
    
    .header.scrolling-active .headerList ul.MainMenu .HeaderTaps.IsVisible {
        position: fixed;
        display: flex;
        border-radius: 5px;
        height: 182px;
        right: 0;
        top: 102px;
        width: 100%;
        z-index: 1000;
        opacity: 1;
        transition: all .7s;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .home {
        display: flex;
        align-items: center;
        height: 482px;
        justify-content: center;
        background-position: center;
        background-size: cover;
        padding-bottom: 20px;
    }
    
    .home .slider_Content {
        text-align: center;
        height: 100%;
        width: 100%;
    }
    
    .home .content {
        text-align: center;
        height: 100%;
        width: 100%;
    }
    /* carousel */
    
     :root {
        --animate-delay: 100s;
    }
    
    .carousel .carousel-inner .carousel-item {
        height: 80vh;
        min-height: 300px;
        background: none repeat scroll center;
        -webkit-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
    
    .carousel .carousel-inner .carousel-item img {
        animation: 30s ease 0s normal none infinite running zoomin;
        -webkit-animation: 30s ease 0s normal none infinite running zoomin;
        -o-animation: 30s ease 0s normal none infinite running zoomin;
        -moz-o-animation: 30s ease 0s normal none infinite running zoomin;
    }
    
    .carousel .carousel-inner .carousel-item::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000;
        opacity: .5;
    }
    
    @keyframes zoomin {
        0% {
            transform: scale(1.5, 1.5)
        }
        50% {
            transform: scale(1, 1)
        }
        100% {
            transform: scale(1.5, 1.5)
        }
    }
    
    .carousel .carousel-inner .carousel-item .carousel-caption {
        bottom: 120px;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .carousel .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: 55px;
        font-weight: 700;
        text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
    }
    
    .carousel .carousel-inner .carousel-item .carousel-caption p {
        font-size: 22px;
        top: 2rem;
        text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
    }
    
    .carousel .slider-btn {
        margin-top: 30px;
        gap: 5px;
    }
    
    .carousel .slider-btn .btn {
        background-color: rgb(0, 119, 255);
        color: white;
        border-radius: 3px;
        padding: 1.1rem 2rem;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    
    .carousel .carousel-indicators button {
        width: 10px;
        border-radius: 100%;
        height: 10px;
        background-color: #ffff;
        border: 2px solid;
        border-color: #fff;
        opacity: 1;
    }
    
    .carousel-indicators {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carousel .carousel-indicators button.active {
        background: none;
        border: 2px solid#fff;
        opacity: 1;
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        transform: scale(2);
    }
    /* Nos Produit Section */
    
    .section {
        position: relative;
        width: 100%;
    }
    
    .section#Bienvenu_Section,
    .section#rassuranceSection {
        padding: 20px;
    }
    
    .section .NosProduit {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    
    .section#Bienvenu_Section {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
    h1.AboutUsSection.title {
        font-size: 25px;
        display: flex;
        font-weight: 700;
        gap: 5px;
        text-align: center;
        padding: 5px;
        text-transform: uppercase;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .section .section-inner h2.sectionAboutTile2 {
        margin: 0;
        font-size: 20px;
        line-height: 0;
        margin-top: 10px;
        padding-bottom: 10px;
        position: initial;
        font-weight: 600;
    }
    
    .section .NosProduit p {
        padding: 15px 30px;
        font-size: 20px;
        font-weight: 400;
        text-transform: none;
        text-align: center;
    }
    
    .section .rassurance {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .NosProduit ul li,
    .rassurance ul li {
        padding: 0 10px;
    }
    
    img.img-responsive.svg {
        margin: 0 auto 10px auto;
        height: 65px;
        width: 65px;
    }
    
    .section .NosProduit ul li a {
        color: #000000;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        display: flex;
        letter-spacing: 2px;
        flex-direction: column;
    }
    
    .section .NosProduit h2.title {
        position: relative;
        width: 100%;
        left: 0;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    
    .section .rassurance ul li a {
        color: #000000;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        display: flex;
        letter-spacing: 2px;
        flex-direction: column;
    }
    
    .section .rassurance h2.title {
        position: relative;
        width: 100%;
        left: 0;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    
    .section ul {
        position: relative;
        width: 100%;
        list-style: none;
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .footer {
        width: 100%;
        height: fit-content;
    }
    
    .footer-top {
        padding-right: 10px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 10px;
        min-height: 411px;
        background: #1c2331 url(./Assets/bgFooter_blue.png) no-repeat right bottom;
        background-size: 129px;
    }
    
    .footer .box-container {
        display: flex;
        height: 100%;
        width: 100%;
        gap: 1.5rem;
        justify-content: space-between;
        justify-items: center;
        align-items: start;
        align-content: center;
        padding-bottom: 20px;
        padding-top: 20px;
        flex-direction: column;
    }
    
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    
    .titleFooter {
        color: #d2283b;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 15px;
        text-align: start;
        letter-spacing: 2px;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    
    .titleFooter:before {
        content: "";
        width: 120px;
        height: 4px;
        background: #d2283b;
        margin-right: 5px;
    }
    
    .footer ul {
        list-style: none;
        padding-left: 0;
        display: flex;
    }
    
    .footer ul.NosServicesFooter {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    span.dot-disc:before {
        content: "•";
        font-size: 15px;
        color: #ffffff;
        font-family: "Arial", Helvetica, Verdana, sans-serif;
        margin: 0 10px 0 15px;
    }
    
    .footer ul li {
        padding: 10px;
    }
    
    .footer ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        text-transform: none;
        font-weight: 200;
        letter-spacing: 1px;
        flex-direction: row;
    }
    
    .footer ul.contact_info li {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    
    .footer .contact_info i {
        color: #d2283b;
        font-size: 20px;
        width: 40px;
        border-radius: 2px;
        line-height: 40px;
        border: 1px solid #95959561;
        text-align: center;
        height: 40px;
    }
    
    .footer ul.contact_info h4 {
        color: #a7a7a7;
        font-size: 17px;
        text-align: start;
        font-weight: 700;
        letter-spacing: .5px;
    }
    
    .footer ul.contact_info li a:hover {
        color: #ff4c60;
        font-weight: 400;
        padding-left: 5px;
    }
    
    .footer ul.contact_info li a {
        display: flex;
        padding-top: 3px;
        flex-direction: column;
    }
    
    .footer ul.lnkSocial {
        gap: 5px;
    }
    
    .footer ul.lnkSocial li {
        padding: 10px;
        border: 1px solid #85858561;
        width: 55px;
        text-align: center;
        height: 100%;
        border-radius: 2px;
    }
    
    .footer ul.lnkSocial li:hover {
        border: 1.2px solid #d2283b;
        cursor: pointer;
    }
    
    .footer ul.lnkSocial li a i {
        font-size: 30px;
        color: #d2283b;
        padding: 0;
    }
    
    .footer ul li a i {
        font-size: 20px;
        color: #ffffff;
        padding-right: 5px;
    }
    
    .footer ul.contact_info {
        list-style: none;
        padding-left: 0;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    
    form#formNewsletter {
        width: fit-content;
        border: none;
        background: #ffffff0f;
        display: flex;
        border-radius: 3px;
        align-items: center;
    }
    
    .footer form input {
        border: none;
        width: 250px;
        color: #fff;
        font-size: 13px;
        font-weight: 200;
        padding: 10px;
        height: 40px;
        background: none;
    }
    
    .footer form input::placeholder {
        font-size: 14px;
        font-weight: 300;
        transition: all .5s;
    }
    
    .footer form input:focus::placeholder {
        color: #939393;
        font-size: 15px;
        transition: all .5s;
    }
    
    .footer form button {
        border: none;
        height: 100%;
        width: 40px;
        background: none;
        color: #fff;
        padding: 10px;
    }
    
    .footer form button:hover {
        border: none;
        height: 100%;
        width: 40px;
        background: none;
        color: #d2283b;
        padding: 10px;
    }
    
    .footer form button i {
        font-size: 17px;
    }
    
    .footer-Copyrights {
        width: 100%;
        height: 50px;
    }
    
    .footer .footer-Copyrights {
        width: 100%;
        height: fit-content;
        display: flex;
        padding: 10px 10px;
        gap: 2px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .footer-Copyrights ul {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 5px;
        flex-wrap: wrap;
    }
    
    .footer-Copyrights ul li a {
        color: #000;
        font-size: 15px;
        font-weight: 400;
    }
    
    .footer-Copyrights ul li a#Author-Name {
        color: #266fae;
    }
    
    .footer-Copyrights ul li p {
        font-size: 15px;
        margin: 0;
    }
    
    .footer-Copyrights ul li p i {
        padding: 0 5px;
        color: #262626;
    }
    
    span.LineCenter:before {
        content: "|";
        font-size: 15px;
        color: #000;
        font-family: "Arial", Helvetica, Verdana, sans-serif;
        margin: 0 10px;
    }
    
    #toTop.IsActive {
        background-color: #276ba7;
        border-radius: 4px 4px 0 0;
        bottom: 0;
        color: #FFF;
        height: 35px;
        position: fixed;
        right: 30px;
        text-align: center;
        line-height: 35px;
        text-transform: uppercase;
        width: 60px;
        font-size: 17px;
        opacity: .9;
        z-index: 10000;
        transition: all .5s;
    }
    
    #toTop {
        height: 0;
        width: 0;
        opacity: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    .MapSection {
        position: absolute;
        bottom: -685px;
        opacity: 1;
        right: 20px;
        border: 5px solid #972d2d;
        width: fit-content;
        height: fit-content;
        z-index: 1000;
    }
    
    .mapouter {
        position: relative;
        text-align: right;
        width: 100%;
        height: 100%;
    }
    
    .gmap_canvas {
        overflow: hidden;
        background: none!important;
        width: 100%;
        height: 200px;
    }
    
    .gmap_iframe {
        height: 200px!important;
    }
    /* SideBar Menu CSS*/
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 200;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    /* The navigation menu links */
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    /* When you mouse over the navigation links, change their color */
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    /* Position and style the close button (top right corner) */
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
    /* media queries  max-width = 670px   */
    
    @media (max-width: 670px) {
        .footer .row .col-sm-6 {
            flex: 0 0 auto;
            width: auto;
        }
    }
    /* media queries  max-width = 1220px   */
    
    @media (max-width: 1220px) {
        .MapSection {
            display: none;
        }
    }
    /* media queries  max-width = 1253px   */
    
    @media (max-width: 1252px) {
        .header .headerList .navbarTop {
            justify-content: center;
        }
    }
    /* media queries  max-width = 1350px   */
    
    @media (max-width: 1350px) {
        .header .headerList ul.toolsMenu li a span {
            display: none;
        }
    }
    /* media queries  max-width = 991px   */
    
    @media (max-width: 991px) {
        html {
            font-size: 55%;
        }
        .header {
            padding: 0 2rem;
        }
        section {
            padding: 2rem;
        }
    }
    
    @media (max-width:768px) {
        #menu-btn {
            display: inline-block;
        }
        .header .search-form {
            width: 90%;
        }
        .header .navbar {
            position: absolute;
            top: 110%;
            right: -110%;
            width: 30rem;
            box-shadow: var(--box-shadow);
            border-radius: .5rem;
            background: #fff;
        }
        .header .navbar.active {
            right: 2rem;
            transition: .4s linear;
        }
        .header .navbar a {
            font-size: 2rem;
            margin: 2rem 2.5rem;
            display: block;
        }
    }
    
    @media (max-width:450px) {
        html {
            font-size: 50%;
        }
        .heading {
            font-size: 2.5rem;
        }
        .footer {
            text-align: center;
        }
        .footer .box-container .box .payment-img {
            margin: 2rem auto;
        }
    }
    /* media queries Mobiles View  max-width = 767px   */
    
    @media (max-width: 767px) {
        .section {
            padding: 25px 5px;
        }
        h1.AboutUsSection.title {
            font-size: 25px;
            display: flex;
            font-weight: 700;
            gap: 5px;
            text-align: center;
            padding: 5px;
            text-transform: uppercase;
            flex-direction: column-reverse;
            align-items: center;
        }
        .section .section-inner h2.sectionAboutTile2 {
            margin: 0;
            font-size: 17px;
            line-height: 0;
            margin-top: 10px;
            padding-bottom: 10px;
            position: initial;
            font-weight: 600;
        }
        .section .NosProduit p {
            padding: 15px 10px;
            font-size: 16px;
            font-weight: 400;
            text-transform: none;
            text-align: center;
        }
        .header {
            padding: 0 2rem;
        }
        .header .headerLogo {
            display: none;
        }
        .header .headerLogoMobile {
            display: flex;
        }
        .SVG_Icons:before {
            display: inline-block;
            vertical-align: top;
            content: '';
            width: 200px;
            height: 80px;
            background-repeat: no-repeat;
            background-position: center;
            opacity: .9;
            background-size: 100%;
            transition: all 0.5s ease;
        }
        .carousel-inner {
            position: relative;
            width: 100%;
            height: 400px;
            overflow: hidden;
        }
        .carousel .carousel-inner .carousel-item .carousel-caption {
            bottom: 200px;
            padding-left: 10px;
            padding-right: 10px;
            right: 5%;
            left: 5%;
        }
        .carousel .carousel-inner .carousel-item .carousel-caption h5 {
            font-size: 25px;
            font-weight: 700;
            text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
        }
        .carousel .carousel-inner .carousel-item .carousel-caption p {
            font-size: 13px;
            top: 2rem;
            text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
        }
        .carousel .slider-btn {
            margin-top: 5px;
            gap: 5px;
        }
        .carousel .carousel-inner .carousel-item .carousel-caption {
            bottom: 300px;
            padding-left: 50px;
            padding-right: 50px;
            right: 5%;
            left: 5%;
        }
    }